<div ng-hide="isLogin" class="container">
          <div ng-include="" src="'views/letmein.html'" ng-controller="letMeInCtrl"></div>
</div>
<div class="bgwhite well well-small" ng-show="isLogin">
		<a class="btn btn-success pull-right mll" ng-href="#/diary/new" ng-hide="diary.edit">创建新日记</a>
	<button class="btn btn-primary pull-right" ng-click="diary.edit=true" ng-hide="diary.edit">编辑日记</button>

	<div class="clearfix"></div>
 	<div class="row-fluid solid">
		<div class="span4">
			<h3 class="dashed center">心灵 成功日记</h3>
			<div ng-hide="diary.edit">
				<div ng-bind-html="diary.d1" class="mheight"></div>
			</div>
			<div ng-show="diary.edit">
				<textarea ui-tinymce="tinymceSimple" ng-model="diary.d1" class="diary"></textarea>
			</div>
		</div>
		<div class="span4">
			<h3 class="dashed center">人际关系 家庭 朋友</h3>
			<div ng-hide="diary.edit">
				<div ng-bind-html="diary.d2" class="mheight"></div>
			</div>
			<div ng-show="diary.edit">
				<textarea ui-tinymce="tinymceSimple" ng-model="diary.d2" class="diary"></textarea>
			</div>
		</div>
		<div class="span4">
			<h3 class="dashed center">愿望 人生的梦</h3>
			<div ng-hide="diary.edit">
				<div ng-bind-html="diary.d3" class="mheight"></div>
			</div>
			<div ng-show="diary.edit">
				<textarea ui-tinymce="tinymceSimple" ng-model="diary.d3" class="diary"></textarea>
			</div>
		</div>
	</div>
	<div class="row-fluid solid">
		<div class="span4">
			<h3 class="dashed center">健康 饮食 锻炼</h3>
			<div ng-hide="diary.edit">
				<div ng-bind-html="diary.d4" class="mheight"></div>
			</div>
			<div ng-show="diary.edit">
				<textarea ui-tinymce="tinymceSimple" ng-model="diary.d4" class="diary"></textarea>
			</div>
		</div>
		<div class="span4">
			<h3 class="dashed center">{{diary.date|date}}</h3>
			     <div ng-hide="diary.edit">
					<div>天气：<span class="muted">{{diary.weather|weather}}</span>
					</div>
					<div>心情：<span class="muted">{{diary.mood|mood}}</span>
					</div>
					<div>健康：<span class="muted">{{diary.health|health}}</span>
					</div>
					<div>
						起床：{{diary.getup|date:'shortTime'}}		
					</div>
					<div>
						睡觉：{{diary.sleep|date:'shortTime'}}		
					</div>
					<div>纪念日：<ul class="unstyled"><li ng-repeat="mday in diary.mdays" class="bgwhite pas brs mbs">{{mday}}</li></ul>
					</div>
				</div>
				<div ng-show="diary.edit">
						<div tabset="">
				<div tab="" heading="感觉">
					<div>天气：<select ng-model="diary.weather">
							  <option value="1">晴朗</option>
							  <option value="2">多云</option>
							  <option value="3">阴天</option>
							  <option value="4">小雨</option>
							  <option value="5">大雨</option>
						 </select>
					</div>
					<div>心情：<select ng-model="diary.mood">
							  <option value="1">开心</option>
							  <option value="2">平静</option>
							  <option value="3">低落</option>
						 </select>
					</div>
					<div>健康：<select ng-model="diary.health">
							  <option value="1">良好</option>
							  <option value="2">一般</option>
							  <option value="3">较差</option>
							  <option value="4">生病</option>
						 </select>
					</div>
					<div>
						起床：<div timepicker="" ng-model="diary.getup" show-meridian="true" class="diarytime"></div>		
					</div>
					<div>
						睡觉：<div timepicker="" ng-model="diary.sleep" show-meridian="true" class="diarytime"></div>		
					</div>
				</div>
				<div tab="" heading="纪念日">
					<div memory-day="" entity="diary"></div>
				</div>
			</div>
				</div>
		</div>
		<div class="span4">
			<h3 class="dashed center">财务管理</h3>
			<div ng-hide="diary.edit">
				<div ng-bind-html="diary.d5" class="mheight"></div>
			</div>
			<div ng-show="diary.edit">
				<textarea ui-tinymce="tinymceSimple" ng-model="diary.d5" class="diary"></textarea>
			</div>
		</div>
	</div>
	<div class="row-fluid solid">
		<div class="span4">
			<h3 class="dashed center">情报 资讯 阅读</h3>
			<div ng-hide="diary.edit">
				<div ng-bind-html="diary.d6" class="mheight"></div>
			</div>
			<div ng-show="diary.edit">
				<textarea ui-tinymce="tinymceSimple" ng-model="diary.d6" class="diary"></textarea>
			</div>
		</div>
		<div class="span4">
			<h3 class="dashed center">工作 创意 兴趣</h3>
			<div ng-hide="diary.edit">
				<div ng-bind-html="diary.d7" class="mheight"></div>
			</div>
			<div ng-show="diary.edit">
				<textarea ui-tinymce="tinymceSimple" ng-model="diary.d7" class="diary"></textarea>
			</div>
		</div>
		<div class="span4">
			<h3 class="dashed center">未来日记</h3>
			<div ng-hide="diary.edit">
				<div ng-bind-html="diary.d8" class="mheight"></div>
			</div>
			<div ng-show="diary.edit">
				<textarea ui-tinymce="tinymceSimple" ng-model="diary.d8" class="diary"></textarea>
			</div>
		</div>
	</div>
	<div class="center" ng-show="diary.edit">
		<button class="btn ptm pbm prl pll mtm btn-success" style="font-size:2em" ng-click="updateDiary()">保存</button>
	</div>
</div>