 <div class="row">
          
           <div class="span4 offset4">

            <form>  
                  <fieldset>  
                        <legend>登陆积致：</legend>
                          <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span>
                            <input type="text" ng-model="form.username" placeholder="用户名">
                          </div><br>
                          <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                               <input type="password" id="inputPassword" ng-model="form.password" placeholder="密码">
                          </div><br>
                              <button type="submit" class="btn btn-success" ng-click="login()">登陆</button>
                    </fieldset>
             </form> 
             <div class="alert alert-info">目前积致暂不公开注册，希望参与的同学可 <a href="mailto:contact@jiizhi.com?subject=申请加入积致网&body=请简单自我介绍您的专业背景以及学校" class="btn btn-primary mbm">申请账号</a>
                  </div>
             </div>
          </div>